In [1]:
%load_ext watermark
%watermark

2019-09-05T19:42:56-03:00

CPython 3.7.3
IPython 7.4.0

compiler   : MSC v.1915 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
CPU cores  : 8
interpreter: 64bit

### En este notebook se realiza una visualizacion sencilla del dataset, se elimina la columa : Uname 0, Pais, Operacion; finalmente guardamos ese nuevo  dataset, y este ultimo es el que utilizaremos para posteriores procesos.
#######OJO: Estoy guardando el dataset final en una carpeta DATA.

In [6]:
import pandas as pd
import numpy as np

In [7]:
#Leemos el dataSet:
df_properati = pd.read_csv("../Data/properatti.csv")
df_properati.shape[0]

121220

In [8]:
#Eliminamos la columna Unanmed:0
df_properati = df_properati.drop(['Unnamed: 0'], axis = 1)

In [10]:
#Obervamos los tipos de datos:
df_properati.dtypes

operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [11]:
df_properati.columns

Index(['operation', 'property_type', 'place_name', 'place_with_parent_names',
       'country_name', 'state_name', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'],
      dtype='object')

In [12]:
#Renombraremos los nombres de las columnas:
#nombre_columnas = ['OperaciÃ³n','Tipo Propiedad', '' ]
#df_properati.rename(nombre_columnas)

In [13]:
#Convertimos en minusculas los datos  tipo object
# currency contienen valores NaN( float) por tanto es necesario pasarlo todo a string para luego cambiar a lower
for columna in df_properati:
    if df_properati[columna].dtype == object:
        df_properati[columna] = df_properati[columna].astype(str).map(str.lower)

In [14]:
#observamos columnas que poseen el mismo valor, si la cantidad es df.shpae[0]-1 eliminamos e informamos
def valores_comunes(df):
    len_df = df.shape[0]
    for columna in df:
        val_duplicados = df[columna].duplicated().sum()
        if len_df - val_duplicados == 1:
            print('{} --->{} ---> ELIMINADO'.format(columna,df[columna][0]))
            df = df.drop([columna], axis =1)
    return df

In [15]:
df_properati = valores_comunes(df_properati)

operation --->sell ---> ELIMINADO
country_name --->argentina ---> ELIMINADO

In [16]:
# Luego de eliminar las columnas repetidas y que no aportan valores significativos( columna UNAME:0,country_name )
#guardamos este dataset:
df_properati.to_csv('../Data/properati_1.csv',index=False)