In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import re
import seaborn as sns
pd.set_option('display.float_format', '{:.2f}'.format)

In [2]:
df = pd.read_csv('properatti.csv',index_col=0,parse_dates=True)

In [65]:
df.shape

(121220, 26)

In [11]:
df.columns

Index(['operation', 'property_type', 'place_name', 'place_with_parent_names',
       'country_name', 'state_name', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'],
      dtype='object')

In [14]:
df.loc[:,'place_with_parent_names'].value_counts()

|Argentina|Santa Fe|Rosario|                                                      8504
|Argentina|Córdoba|Córdoba|                                                       6606
|Argentina|Buenos Aires Costa Atlántica|Mar del Plata|                            6534
|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nordelta|                               3315
|Argentina|Capital Federal|Belgrano|                                              2992
|Argentina|Capital Federal|Palermo|                                               2885
|Argentina|Córdoba|                                                               2648
|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|                                        2359
|Argentina|Capital Federal|Caballito|                                             2273
|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|                                        1857
|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|La Plata|                              1767
|Argentina|Capital Federal|Villa Urquiza|                                         1629
|Argentina|Bs.As. G.B.A. Zona Norte|Vicente López|Olivos|                         1590
|Argentina|Capital Federal|Recoleta|                                              1547
|Argentina|Capital Federal|Flores|                                                1354
|Argentina|Capital Federal|Villa Crespo|                                          1331
|Argentina|Capital Federal|                                                       1297
|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zamora|Lomas de Zamora|                1253
|Argentina|Capital Federal|San Telmo|                                             1216
|Argentina|Capital Federal|Almagro|                                               1165
|Argentina|Capital Federal|Barrio Norte|                                          1140
|Argentina|Bs.As. G.B.A. Zona Oeste|La Matanza|Ramos Mejía|                       1127
|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro|Martínez|                          1058
|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|                                      1037
|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zamora|Banfield|                       1007
|Argentina|Bs.As. G.B.A. Zona Sur|Lanús|Lanús|                                     971
|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Tigre|                                   965
|Argentina|Buenos Aires Costa Atlántica|Pinamar|                                   932
|Argentina|Capital Federal|Boedo|                                                  890
|Argentina|Capital Federal|Nuñez|                                                  778
                                                                                  ...
|Argentina|Santa Fe|Ataliva|                                                         1
|Argentina|Buenos Aires Interior|General Alvear|                                     1
|Argentina|Entre Ríos|Costa Uruguay Sur|                                             1
|Argentina|Buenos Aires Interior|Villarino|Pedro Luro|                               1
|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|Barrio San Alfonso - Pilar del Este|       1
|Argentina|Tucumán|Banda del Río Salí|                                               1
|Argentina|Catamarca|Agua Blanca|                                                    1
|Argentina|Buenos Aires Interior|San Antonio de Areco|                               1
|Argentina|Bs.As. G.B.A. Zona Oeste|Moreno|Country La Tradición|                     1
|Argentina|Córdoba|Wenceslao Escalante|                                              1
|Argentina|Santa Fe|Sunchales|                                                       1
|Argentina|Santa Fe|Rufino|                                                          1
|Argentina|Córdoba|Toledo|                                                           1
|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|Berazategui Oeste|                     1
|Argentina|Bs.As. G.B.A. Zona Oeste|Moreno|Barrio Cerrado El Casco de Alvarez|       1
|Argentina|Jujuy|                                                                    1
|Argentina|Santa Fe|Malabrigo|                                                       1
|Argentina|Córdoba|San Lorenzo|                                                      1
|Argentina|Jujuy|San Antonio|                                                        1
|Argentina|La Pampa|Intendente Alvear|                                               1
|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|La Arboleda de Maschwitz|                1
|Argentina|Buenos Aires Interior|Balcarce|Balcarce|                                  1
|Argentina|Bs.As. G.B.A. Zona Oeste|Hurlingham|William Morris|                       1
|Argentina|Neuquén|Aluminé|                                                          1
|Argentina|Misiones|Bernardo de Irigoyen|                                            1
|Argentina|Santa Fe|General Lagos|                                                   1
|Argentina|Mendoza|Mayor Drummond|                                                   1
|Argentina|Buenos Aires Interior|San Pedro|                                          1
|Argentina|Santa Fe|Emilia|                                                          1
|Argentina|Bs.As. G.B.A. Zona Norte|San Fernando|Barrio Cerrado "La Chacra"|         1
Name: place_with_parent_names, Length: 1164, dtype: int64

In [3]:
df.isna().sum()

operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [19]:
df["strAmb"] = (df.title + df.description).str.extract('(\d{1}|dos|uno|tres|mono)*?.{0,5}(AMB)+',flags=re.IGNORECASE)[0]

In [20]:
df.loc[:,["rooms","strAmb","description","title"]]

,rooms,strAmb,description,title
0,nan,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB
1,nan,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...
2,nan,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3,nan,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado
4,nan,NaN,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...
5,nan,NaN,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ..."
6,nan,NaN,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,..."
7,nan,0,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...
8,nan,0,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,..."
9,nan,NaN,MEDNOZA AL 7600A UNA CUADRA DE CALLE MENDOZAWH...,WHITE 7637 - 2 DORMITORIOS CON PATIO
10,nan,NaN,"Hermosa casa sin terminar de 3 dormitorios, ba...",Casa sin terminar en Falda de Cañete. ...
11,nan,NaN,"Entrada de Coche, Jardin, Living en desnivel, ...",CHALET
12,nan,NaN,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...
13,1.00,NaN,Torre I Mondrian. 3 ambientes con terraza y d...,Vitraux Palermo
14,1.00,NaN,Torre II Dalí. Ambiente unico divisible.Vitrau...,Vitraux Palermo
15,nan,NaN,ULTIMA UNIDAD DISPONIBLEHAUS BOULEVARD: Metros...,HAUS VILLAGE / BELLA VISTA / 115m² MAS PATIO /...
16,4.00,NaN,Ventas Mataderos al frente Duplex 4 amb.- Plan...,VENTA-MATADEROS-DUPLEX 4 AMB.
17,3.00,NaN,Excelente 3 ambientes en un 6 piso y con terra...,3 ambientes en venta en Acqua Golf 1 en Nordel...
18,nan,dos,Casa sobre lote al golf en barrio San Isidro L...,"Casa en venta en barrio San Isidro Labrador, T..."
19,3.00,NaN,Excelente semipiso al contra frente en Bulnes ...,"Bulnes y Libertador: espectacular pulmón, con ..."
20,nan,NaN,"Consta de: Comedor-cocina, cuatro dormitorios ...","Casa con excelente ubicaciòn, calle asfaltada,..."
21,4.00,NaN,"EXCELENTE ZONA, MULTIPLES MEDIOS DE TRANSPORTE...",Departamento de 4 ambientes en Venta en Palermo
22,nan,dos,Edificada en 2 plantas. PB. amplio living con ...,CASA EN VENTA A ESTRENAR EN EL NACIONAL
23,2.00,NaN,"Hermoso departamento, ubicado en la calle Almi...","Excelente departamento, Impecable!!! APTO CRED..."
24,4.00,NaN,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORIA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.
25,4.00,NaN,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORÍA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.
26,nan,NaN,Casa en venta en complejo Villanueva barrio Sa...,Casa muy linda en San Gabriel Villanueva
27,nan,NaN,Estancias propone vivir rodeados de naturaleza...,Excelente Propiedad!!!! en Estancias del Pilar
28,4.00,NaN,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORÍA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.
29,2.00,dos,Departamento muy luminoso con todos sus ambien...,Departamento en venta floresta
...,...,...,...,...
121190,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121191,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121192,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121193,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121194,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121195,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121196,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121197,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121198,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121199,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121200,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121201,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121202,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121203,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121204,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121205,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121206,nan,dos,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121207,nan,NaN,Puertos- Barrio Vistas - L. 88Casa en venta so...,"Casa en venta Puertos, barrio Vistas"
121208,nan,NaN,Puertos- Barrio Vistas - L. 88Casa en venta so...,"Casa en venta Puertos, barrio Vistas"
121209,nan,dos,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...
121210,nan,NaN,Dos viviendas en block en excelente ubicación ...,Casa - Martinez
121211,nan,dos,Excelente departamento de categoría con vistas...,Departamento - Acassuso
121212,nan,NaN,ESPECTACULAR CASA ESTILO RACIONALISTA EN CALLE...,Casa - Acassuso
121213,nan,NaN,EXCELENTE casa en Martinez. Inmejorable ubicai...,Casa - Martinez
121214,nan,NaN,***VENTA CON RENTA***Local en EDIFICIO lomas ...,Local - San Isidro
121215,nan,NaN,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes
121216,nan,NaN,Excelente e impecable casa en Venta en Las Lom...,Ruca Inmuebles | Venta | Lomas de San Isidro |...
121217,nan,NaN,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...
121218,nan,NaN,"2 Amb al contrafrente, luminoso. El departame...",2 amb. C/ dep. de servicio al contrafrente| Re...
121219,nan,NaN,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro

In [16]:
(df.title + df.description)[0:11].str.extract('(\d+|dos|uno|tres|mono)(?:(?!\d+|dos|uno|tres|mono).)*?.{0,5}(AMB)+',flags=re.IGNORECASE)

       0    1
0      2  AMB
1    NaN  NaN
2      2  AMB
3      3  amb
4      2  AMB
5    NaN  NaN
6    NaN  NaN
7   1400  AMB
8   1400  AMB
9    NaN  NaN
10   NaN  NaN

In [47]:
df.loc[np.random.randint(0,high=100000),'description']

'Venta de departamento 4 ambientes en San Miguel.El departamento cuenta con living comedor con pisos cerámicos, cocina separadacon mueble bajo mesada, alacena, mesada de granito y pisos cerámicos,1 dormitorio con vestidor y baño en suite, 2 dormitorios con baño, 2 aires acondicionados.Cochera cubierta en subsuelo. -  - H. GRANELLI PROPIEDADES'

In [53]:
(df.title + df.description).str.extract('(amb|dorm)+',flags=re.IGNORECASE).count()

0    106807
dtype: int64

In [83]:
df.loc[:,['price','currency','price_aprox_local_currency','price_aprox_usd','surface_total_in_m2','surface_covered_in_m2','price_usd_per_m2','price_per_m2']]

,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2
0,62000.00,USD,1093959.00,62000.00,55.00,40.00,1127.27,1550.00
1,150000.00,USD,2646675.00,150000.00,nan,nan,nan,nan
2,72000.00,USD,1270404.00,72000.00,55.00,55.00,1309.09,1309.09
3,95000.00,USD,1676227.50,95000.00,nan,nan,nan,nan
4,64000.00,USD,1129248.00,64000.00,35.00,35.00,1828.57,1828.57
5,nan,NaN,nan,nan,53.00,nan,nan,nan
6,130000.00,USD,2293785.00,130000.00,106.00,78.00,1226.42,1666.67
7,138000.00,USD,2434941.00,138000.00,45.00,40.00,3066.67,3450.00
8,195000.00,USD,3440677.50,195000.00,65.00,60.00,3000.00,3250.00
9,460000.00,ARS,455201.45,25798.49,nan,nan,nan,nan
10,70000.00,USD,1235115.00,70000.00,1514.00,nan,46.24,nan
11,150000.00,USD,2646675.00,150000.00,nan,nan,nan,nan
12,115000.00,USD,2029117.50,115000.00,39.00,36.00,2948.72,3194.44
13,111700.00,USD,1970890.65,111700.00,50.00,30.00,2234.00,3723.33
14,147900.00,USD,2609621.55,147900.00,42.00,31.00,3521.43,4770.97
15,250000.00,USD,4411125.00,250000.00,164.00,nan,1524.39,nan
16,239000.00,USD,4217035.50,239000.00,140.00,98.00,1707.14,2438.78
17,315000.00,USD,5558017.50,315000.00,176.00,78.00,1789.77,4038.46
18,570000.00,USD,10057365.00,570000.00,270.00,270.00,2111.11,2111.11
19,350000.00,USD,6175575.00,350000.00,104.00,96.00,3365.38,3645.83
20,nan,NaN,nan,nan,148.00,148.00,nan,nan
21,270500.00,USD,4772837.25,270500.00,118.00,73.00,2292.37,3705.48
22,290000.00,USD,5116905.00,290000.00,200.00,200.00,1450.00,1450.00
23,82000.00,USD,1446849.00,82000.00,48.00,42.00,1708.33,1952.38
24,355000.00,USD,6263797.50,355000.00,160.00,160.00,2218.75,2218.75
25,358550.00,USD,6326435.47,358550.00,160.00,160.00,2240.94,2240.94
26,265000.00,USD,4675792.50,265000.00,230.00,190.00,1152.17,1394.74
27,650000.00,USD,11468925.00,650000.00,425.00,425.00,1529.41,1529.41
28,362150.00,USD,6389955.67,362150.00,160.00,160.00,2263.44,2263.44
29,75000.00,USD,1323337.50,75000.00,43.00,43.00,1744.19,1744.19
...,...,...,...,...,...,...,...,...
121190,2714000.00,ARS,2685688.57,152211.09,100.00,nan,1522.11,nan
121191,1482000.00,ARS,1466540.26,83116.00,50.00,nan,1662.32,nan
121192,1482000.00,ARS,1466540.26,83116.00,50.00,nan,1662.32,nan
121193,1859000.00,ARS,1839607.62,104259.55,136.00,nan,766.61,nan
121194,1487000.00,ARS,1471488.13,83396.42,50.00,nan,1667.93,nan
121195,1487000.00,ARS,1471488.13,83396.42,50.00,nan,1667.93,nan
121196,1497000.00,ARS,1481383.87,83957.26,52.00,nan,1614.56,nan
121197,1497000.00,ARS,1481383.87,83957.26,50.00,nan,1679.15,nan
121198,1492000.00,ARS,1476436.00,83676.84,50.00,nan,1673.54,nan
121199,1502000.00,ARS,1486331.74,84237.68,52.00,nan,1619.96,nan
121200,1498000.00,ARS,1482373.37,84013.34,50.00,nan,1680.27,nan
121201,1498000.00,ARS,1482373.37,84013.34,50.00,nan,1680.27,nan
121202,1507000.00,ARS,1491279.61,84518.10,52.00,nan,1625.35,nan
121203,1502000.00,ARS,1486331.74,84237.68,50.00,nan,1684.75,nan
121204,1502000.00,ARS,1486331.74,84237.68,50.00,nan,1684.75,nan
121205,1507000.00,ARS,1491279.61,84518.10,50.00,nan,1690.36,nan
121206,1507000.00,ARS,1491279.61,84518.10,50.00,nan,1690.36,nan
121207,nan,NaN,nan,nan,nan,178.00,nan,nan
121208,nan,NaN,nan,nan,nan,178.00,nan,nan
121209,410000.00,USD,7234245.00,410000.00,157.00,nan,2611.46,nan
121210,nan,NaN,nan,nan,nan,120.00,nan,nan
121211,nan,NaN,nan,nan,205.00,205.00,nan,nan
121212,nan,NaN,nan,nan,420.00,420.00,nan,nan
121213,nan,NaN,nan,nan,600.00,600.00,nan,nan
121214,nan,NaN,nan,nan,123.00,123.00,nan,nan
121215,870000.00,USD,15350715.00,870000.00,113.00,93.00,7699.12,9354.84
121216,498000.00,USD,8786961.00,498000.00,360.00,360.00,1383.33,1383.33
121217,131500.00,USD,2320251.75,131500.00,46.00,39.00,2858.70,3371.79
121218,95900.00,USD,1692107.55,95900.00,48.00,48.00,1997.92,1997.92
121219,129000.00,USD,2276140.50,129000.00,77.00,77.00,1675.32,1675.32

In [84]:
df["cambio"] = df.price_aprox_local_currency / df.price_aprox_usd

In [86]:
df["pausd/surface_total_in_m2"] = df.price_aprox_usd / df.surface_total_in_m2

In [88]:
df["pausd/surface_covered"] = df.price_aprox_usd / df.surface_covered_in_m2

In [89]:
df.loc[:,['price','currency','price_aprox_local_currency','price_aprox_usd','surface_total_in_m2','surface_covered_in_m2','price_usd_per_m2','price_per_m2','pausd/surface_covered','pausd/surface_total_in_m2']]

,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,pausd/surface_covered,pausd/surface_total_in_m2
0,62000.00,USD,1093959.00,62000.00,55.00,40.00,1127.27,1550.00,1550.00,1127.27
1,150000.00,USD,2646675.00,150000.00,nan,nan,nan,nan,nan,nan
2,72000.00,USD,1270404.00,72000.00,55.00,55.00,1309.09,1309.09,1309.09,1309.09
3,95000.00,USD,1676227.50,95000.00,nan,nan,nan,nan,nan,nan
4,64000.00,USD,1129248.00,64000.00,35.00,35.00,1828.57,1828.57,1828.57,1828.57
5,nan,NaN,nan,nan,53.00,nan,nan,nan,nan,nan
6,130000.00,USD,2293785.00,130000.00,106.00,78.00,1226.42,1666.67,1666.67,1226.42
7,138000.00,USD,2434941.00,138000.00,45.00,40.00,3066.67,3450.00,3450.00,3066.67
8,195000.00,USD,3440677.50,195000.00,65.00,60.00,3000.00,3250.00,3250.00,3000.00
9,460000.00,ARS,455201.45,25798.49,nan,nan,nan,nan,nan,nan
10,70000.00,USD,1235115.00,70000.00,1514.00,nan,46.24,nan,nan,46.24
11,150000.00,USD,2646675.00,150000.00,nan,nan,nan,nan,nan,nan
12,115000.00,USD,2029117.50,115000.00,39.00,36.00,2948.72,3194.44,3194.44,2948.72
13,111700.00,USD,1970890.65,111700.00,50.00,30.00,2234.00,3723.33,3723.33,2234.00
14,147900.00,USD,2609621.55,147900.00,42.00,31.00,3521.43,4770.97,4770.97,3521.43
15,250000.00,USD,4411125.00,250000.00,164.00,nan,1524.39,nan,nan,1524.39
16,239000.00,USD,4217035.50,239000.00,140.00,98.00,1707.14,2438.78,2438.78,1707.14
17,315000.00,USD,5558017.50,315000.00,176.00,78.00,1789.77,4038.46,4038.46,1789.77
18,570000.00,USD,10057365.00,570000.00,270.00,270.00,2111.11,2111.11,2111.11,2111.11
19,350000.00,USD,6175575.00,350000.00,104.00,96.00,3365.38,3645.83,3645.83,3365.38
20,nan,NaN,nan,nan,148.00,148.00,nan,nan,nan,nan
21,270500.00,USD,4772837.25,270500.00,118.00,73.00,2292.37,3705.48,3705.48,2292.37
22,290000.00,USD,5116905.00,290000.00,200.00,200.00,1450.00,1450.00,1450.00,1450.00
23,82000.00,USD,1446849.00,82000.00,48.00,42.00,1708.33,1952.38,1952.38,1708.33
24,355000.00,USD,6263797.50,355000.00,160.00,160.00,2218.75,2218.75,2218.75,2218.75
25,358550.00,USD,6326435.47,358550.00,160.00,160.00,2240.94,2240.94,2240.94,2240.94
26,265000.00,USD,4675792.50,265000.00,230.00,190.00,1152.17,1394.74,1394.74,1152.17
27,650000.00,USD,11468925.00,650000.00,425.00,425.00,1529.41,1529.41,1529.41,1529.41
28,362150.00,USD,6389955.67,362150.00,160.00,160.00,2263.44,2263.44,2263.44,2263.44
29,75000.00,USD,1323337.50,75000.00,43.00,43.00,1744.19,1744.19,1744.19,1744.19
...,...,...,...,...,...,...,...,...,...,...
121190,2714000.00,ARS,2685688.57,152211.09,100.00,nan,1522.11,nan,nan,1522.11
121191,1482000.00,ARS,1466540.26,83116.00,50.00,nan,1662.32,nan,nan,1662.32
121192,1482000.00,ARS,1466540.26,83116.00,50.00,nan,1662.32,nan,nan,1662.32
121193,1859000.00,ARS,1839607.62,104259.55,136.00,nan,766.61,nan,nan,766.61
121194,1487000.00,ARS,1471488.13,83396.42,50.00,nan,1667.93,nan,nan,1667.93
121195,1487000.00,ARS,1471488.13,83396.42,50.00,nan,1667.93,nan,nan,1667.93
121196,1497000.00,ARS,1481383.87,83957.26,52.00,nan,1614.56,nan,nan,1614.56
121197,1497000.00,ARS,1481383.87,83957.26,50.00,nan,1679.15,nan,nan,1679.15
121198,1492000.00,ARS,1476436.00,83676.84,50.00,nan,1673.54,nan,nan,1673.54
121199,1502000.00,ARS,1486331.74,84237.68,52.00,nan,1619.96,nan,nan,1619.96
121200,1498000.00,ARS,1482373.37,84013.34,50.00,nan,1680.27,nan,nan,1680.27
121201,1498000.00,ARS,1482373.37,84013.34,50.00,nan,1680.27,nan,nan,1680.27
121202,1507000.00,ARS,1491279.61,84518.10,52.00,nan,1625.35,nan,nan,1625.35
121203,1502000.00,ARS,1486331.74,84237.68,50.00,nan,1684.75,nan,nan,1684.75
121204,1502000.00,ARS,1486331.74,84237.68,50.00,nan,1684.75,nan,nan,1684.75
121205,1507000.00,ARS,1491279.61,84518.10,50.00,nan,1690.36,nan,nan,1690.36
121206,1507000.00,ARS,1491279.61,84518.10,50.00,nan,1690.36,nan,nan,1690.36
121207,nan,NaN,nan,nan,nan,178.00,nan,nan,nan,nan
121208,nan,NaN,nan,nan,nan,178.00,nan,nan,nan,nan
121209,410000.00,USD,7234245.00,410000.00,157.00,nan,2611.46,nan,nan,2611.46
121210,nan,NaN,nan,nan,nan,120.00,nan,nan,nan,nan
121211,nan,NaN,nan,nan,205.00,205.00,nan,nan,nan,nan
121212,nan,NaN,nan,nan,420.00,420.00,nan,nan,nan,nan
121213,nan,NaN,nan,nan,600.00,600.00,nan,nan,nan,nan
121214,nan,NaN,nan,nan,123.00,123.00,nan,nan,nan,nan
121215,870000.00,USD,15350715.00,870000.00,113.00,93.00,7699.12,9354.84,9354.84,7699.12
121216,498000.00,USD,8786961.00,498000.00,360.00,360.00,1383.33,1383.33,1383.33,1383.33
121217,131500.00,USD,2320251.75,131500.00,46.00,39.00,2858.70,3371.79,3371.79,2858.70
121218,95900.00,USD,1692107.55,95900.00,48.00,48.00,1997.92,1997.92,1997.92,1997.92
121219,129000.00,USD,2276140.50,129000.00,77.00,77.00,1675.32,1675.32,1675.32,1675.32

In [108]:
df.properati_url.str.slice(28,33).value_counts().count()

121218

In [106]:
df.properati_url.count()

121218

In [109]:
df.shape

(121218, 29)