In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Leemos el DataSet:
df_properati = pd.read_csv('../Data/properati_1.csv')
df_properati.head(10)

,property_type,place_name,place_with_parent_names,state_name,geonames_id,lat-lon,lat,lon,price,currency,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,ph,mataderos,|argentina|capital federal|mataderos|,capital federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,62000.0,usd,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 ambientes tipo casa planta baja por pasillo,...",2 amb tipo casa sin expensas en pb,https://thumbs4.properati.com/8/bluuyihjlhgiik...
1,apartment,la plata,|argentina|bs.as. g.b.a. zona sur|la plata|,bs.as. g.b.a. zona sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,150000.0,usd,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,venta de departamento en décimo piso al frente...,venta depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpvbu2ztha7jv...
2,apartment,mataderos,|argentina|capital federal|mataderos|,capital federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,72000.0,usd,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 ambientes 3er piso lateral living comedor am...,2 amb 3er piso con ascensor apto credito,https://thumbs4.properati.com/5/sxkr34f_iwg3w_...
3,ph,liniers,|argentina|capital federal|liniers|,capital federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424,95000.0,usd,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,ph 3 ambientes con patio. hay 3 deptos en lote...,ph 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/dgifx-85mog5sp...
4,apartment,centro,|argentina|buenos aires costa atlántica|mar de...,buenos aires costa atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,64000.0,usd,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,departamento con fantástica iluminación natura...,depto 2 amb al contrafrente zona centro/plaza ...,https://thumbs4.properati.com/5/xrrqlncsi_vs-f...
5,house,gualeguaychú,|argentina|entre ríos|gualeguaychú|,entre ríos,3433657.0,"-33.0140714,-58.519828",-33.014071,-58.519828,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bop_venta_depart...,"casa en el perímetro del barrio 338, ubicada e...","casa barrio 338. sobre calle 3 de caballería, ...",https://thumbs4.properati.com/6/q-w68gvaueqvxi...
6,ph,munro,|argentina|bs.as. g.b.a. zona norte|vicente ló...,bs.as. g.b.a. zona norte,3430511.0,"-34.5329567,-58.5217825",-34.532957,-58.521782,130000.0,usd,...,78.0,1226.415094,1666.666667,NaN,NaN,NaN,http://www.properati.com.ar/15bor_venta_ph_mun...,muy buen ph al frente con entrada independient...,"muy buen ph al frente dos dormitorios , patio,...",https://thumbs4.properati.com/5/6goxshcydu1agx...
7,apartment,belgrano,|argentina|capital federal|belgrano|,capital federal,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362,138000.0,usd,...,40.0,3066.666667,3450.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bot_venta_depart...,excelente monoambiente a estrenar amplio super...,jose hernandez 1400 monoambiente estrenar cat...,https://thumbs4.properati.com/1/ihxarynlr8spew...
8,apartment,belgrano,|argentina|capital federal|belgrano|,capital federal,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362,195000.0,usd,...,60.0,3000.000000,3250.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bou_venta_depart...,excelente dos ambientes estrenar amplio super...,"jose hernandez 1400 dos ambientes estrenar ,...",https://thumbs4.properati.com/2/j3zojgafhrkvnv...
9,house,rosario,|argentina|santa fe|rosario|,santa fe,3838574.0,"-32.942031,-60.7259192",-32.942031,-60.725919,460000.0,ars,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15box_venta_casa_r...,mednoza al 7600a una cuadra de calle mendozawh...,white 7637 - 2 dormitorios con patio,https://thumbs4.properati.com/8/rcf1yewdf4rv98...

In [3]:
df_properati.columns

Index(['property_type', 'place_name', 'place_with_parent_names', 'state_name',
       'geonames_id', 'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [4]:
#Genero una DataSet con las columanas: place_with_names, geonames_id, lat-lon, lat, lon
campos_requeridos = ['place_with_parent_names', 'geonames_id','lat-lon','lat', 'lon']
df_ubicacion = df_properati[campos_requeridos]

In [5]:
#Inspeccionamos el dataSer Generado:
df_ubicacion.head(20)

,place_with_parent_names,geonames_id,lat-lon,lat,lon
0,|argentina|capital federal|mataderos|,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839
1,|argentina|bs.as. g.b.a. zona sur|la plata|,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330
2,|argentina|capital federal|mataderos|,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982
3,|argentina|capital federal|liniers|,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424
4,|argentina|buenos aires costa atlántica|mar de...,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447
5,|argentina|entre ríos|gualeguaychú|,3433657.0,"-33.0140714,-58.519828",-33.014071,-58.519828
6,|argentina|bs.as. g.b.a. zona norte|vicente ló...,3430511.0,"-34.5329567,-58.5217825",-34.532957,-58.521782
7,|argentina|capital federal|belgrano|,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362
8,|argentina|capital federal|belgrano|,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362
9,|argentina|santa fe|rosario|,3838574.0,"-32.942031,-60.7259192",-32.942031,-60.725919
10,|argentina|córdoba|córdoba|,3860259.0,"-31.4200833,-64.1887761",-31.420083,-64.188776
11,|argentina|bs.as. g.b.a. zona norte|san miguel|,NaN,"-34.5390571,-58.7196093",-34.539057,-58.719609
12,|argentina|bs.as. g.b.a. zona norte|san isidro...,3430813.0,"-34.4860195,-58.5038139",-34.486019,-58.503814
13,|argentina|capital federal|palermo|palermo soho|,3430234.0,NaN,NaN,NaN
14,|argentina|capital federal|palermo|palermo soho|,3430234.0,NaN,NaN,NaN
15,|argentina|bs.as. g.b.a. zona norte|san miguel...,3436061.0,"-34.5879112015,-58.6987828445",-34.587911,-58.698783
16,|argentina|capital federal|mataderos|,3430787.0,"-34.6523561177,-58.5016239381",-34.652356,-58.501624
17,|argentina|bs.as. g.b.a. zona norte|tigre|nord...,NaN,"-34.4087174767,-58.6343892841",-34.408717,-58.634389
18,|argentina|bs.as. g.b.a. zona norte|tigre|,3427753.0,"-34.425087,-58.5796585",-34.425087,-58.579658
19,|argentina|capital federal|palermo|,3430234.0,"-34.580503566,-58.4058744847",-34.580504,-58.405874

In [6]:
#Analizamos tipo de datos en el nuevo dataFrame:
df_ubicacion.dtypes

place_with_parent_names     object
geonames_id                float64
lat-lon                     object
lat                        float64
lon                        float64
dtype: object

In [7]:
#Analizamos la cantidad de valores nulo en cada columna:
def nulos(df):
    for columna in df:
        print('{} ---> {} NULOS'.format(columna, df[columna].isna().sum()))

In [8]:
nulos(df_ubicacion)

place_with_parent_names ---> 0 NULOS
geonames_id ---> 18717 NULOS
lat-lon ---> 51550 NULOS
lat ---> 51550 NULOS
lon ---> 51550 NULOS

In [9]:
def valores_dif(df):
    for columna in df:
        print("------{} ----".format(columna))
        print(df[columna].value_counts())

In [10]:
#Separamos 'lat-lon'
#dividir = lambda x : x.split(',')
#df_lat_lon = df_ubicacion['lat-lon'].map(dividir)

In [11]:
#convertimos'lat-lon' en string para poder separarlo y compararlo con los valores de las columnas lat, y lon
df_ubicacion['lat-lon-s']= df_ubicacion['lat-lon'].astype(str)

C:\Users\marx.e.morales.tello\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
df_ubicacion['lat-lon-s'].dtype

dtype('O')

In [13]:
#Separamos la columana y lo concatenamos con  las filas lat y lon para comparar valores diferentes:
lat_lon_df= df_ubicacion['lat-lon-s'].apply(lambda x: pd.Series(x.split(',')))

In [14]:
lat_lon_df.head()

             0            1
0  -34.6618237  -58.5088387
1  -34.9038831  -57.9643295
2  -34.6522615  -58.5229825
3  -34.6477969  -58.5164244
4  -38.0026256  -57.5494468

In [15]:
#Convertimos  en float el dataFrame:
lat_lon_df = lat_lon_df.astype(float)

In [16]:
#COncatenamos  lat y lon 
lat_lon_df = pd.concat([lat_lon_df,df_ubicacion['lat'],df_ubicacion['lon']], axis = 1)

In [17]:
lat_lon_df.describe()

                  0             1           lat           lon
count  69670.000000  69670.000000  69670.000000  69670.000000
mean     -34.626210    -59.266290    -34.626210    -59.266290
std        1.980936      2.299922      1.980936      2.299922
min      -54.823985    -75.678931    -54.823985    -75.678931
25%      -34.669065    -58.727040    -34.669065    -58.727040
50%      -34.597985    -58.480128    -34.597985    -58.480128
75%      -34.441299    -58.395908    -34.441299    -58.395908
max        4.545843    -53.733330      4.545843    -53.733330

In [18]:
#Redondeamos los valores a 4 decimales
lat_lon_df = lat_lon_df.round(4)
lat_lon_df.head()

         0        1      lat      lon
0 -34.6618 -58.5088 -34.6618 -58.5088
1 -34.9039 -57.9643 -34.9039 -57.9643
2 -34.6523 -58.5230 -34.6523 -58.5230
3 -34.6478 -58.5164 -34.6478 -58.5164
4 -38.0026 -57.5494 -38.0026 -57.5494

In [19]:
#Comparamos 0 con lat y 1 con lon
lat_lon_df.columns = ['lat_1', 'lon_1', 'lat_2', 'lon_2']
lat_lon_df.shape[0]

121220

In [20]:
lat_lon_df.duplicated().sum()

76557

In [21]:
#lat_lon_df[lat_lon_df['lat_1'] == lat_lon_df['lat_2']]

In [22]:
##Eliminamos valores duplicados 69312 69004
lat_lon_df = lat_lon_df.drop_duplicates()

In [23]:
#lat_lon_df[lat_lon_df['lat_1']!= lat_lon_df['lat_2']]
lat_lon_df.head()

     lat_1    lon_1    lat_2    lon_2
0 -34.6618 -58.5088 -34.6618 -58.5088
1 -34.9039 -57.9643 -34.9039 -57.9643
2 -34.6523 -58.5230 -34.6523 -58.5230
3 -34.6478 -58.5164 -34.6478 -58.5164
4 -38.0026 -57.5494 -38.0026 -57.5494

In [24]:
#Si solo exsite nan en uno de las
lat_lon_df[lat_lon_df['lat_1'].isna() & lat_lon_df['lat_2'].notna()].shape[0]
lat_lon_df[lat_lon_df['lon_1'].isna() & lat_lon_df['lon_2'].notna()].shape[0]

0

In [25]:
#Evaluamos si existe algun valor nulos :
lat_lon_df['lat_1'].isna().sum()
lat_lon_df['lon_1'].isna().sum()

1

In [26]:
#creamos un df_lat_dif
#lat_dif =lat_lon_df[lat_lon_df['lat_1'] != lat_lon_df['lat_2']][['lat_1','lat_2']]
#lon_dif =lat_lon_df[lat_lon_df['lon_1'] != lat_lon_df['lon_2']][['lon_1','lon_2']]

In [27]:
lat_lon_df[lat_lon_df['lat_1'] != lat_lon_df['lat_2']]

    lat_1  lon_1  lat_2  lon_2
13    NaN    NaN    NaN    NaN

In [28]:
lat_lon_df[lat_lon_df['lon_1'] != lat_lon_df['lon_2']]

    lat_1  lon_1  lat_2  lon_2
13    NaN    NaN    NaN    NaN

# CONCLUSION LAT_LON:
    ## Observamos que la columna 'lon-lat' tiene los misms valores que 'lon', 'lat'
    ## El redondeo se ralizo a 4 digitos: Cantidad de dígitos decimales que solicita el SERVICIO DE NORMALIZACION para consultar la api( https://datosgobar.github.io/georef-ar-api/)
    ## EL objetivo de esta búsqueda es comparar las columnas de ubicacion de la columna 'place_with_parent_names' con lo brindado por el SERVICIO DE NORMALIZACION DE DATOS:
    ## Nos quedamos con las columnas lon / lat

In [29]:
#OJO: para recorrer tenemos q eliminar los valoes NAN que existen:

In [61]:
#Consultamos la Api https://datosgobar.github.io/georef-ar-api/
import requests
import json
import time
from pandas.io.json import json_normalize

In [62]:
def consumir_api(row):
    try:
        url = 'https://apis.datos.gob.ar/georef/api/ubicacion?lat=' + str(row['lat']) +'&lon='+ str(row['lon'])
        response = (requests.get(url).text)
        response_json = json.loads(response)
        return response_json
    except Exception as e:
        raise e

In [36]:
df_ubicacion_lat_lon = df_ubicacion[['lat', 'lon']]
df_ubicacion_lat_lon = df_ubicacion_lat_lon.dropna()

In [37]:
#df_ubicacion_lat_lon['lon'].isna().sum()

In [38]:
# Consultamos a la API:
df_ubicacion_lat_lon['API_response'] = df_ubicacion_lat_lon.apply(consumir_api,axis=1)
df_ubicacion_lat_lon['API_response']

SSLError: (MaxRetryError('HTTPSConnectionPool(host=\'apis.datos.gob.ar\', port=443): Max retries exceeded with url: /georef/api/ubicacion?lat=-34.4778621&lon=-58.9091671 (Caused by SSLError(SSLError("bad handshake: SysCallError(10054, \'WSAECONNRESET\')")))'), 'occurred at index 395')

# Campo place_with_parent_names

In [40]:
# Dividimos las columnas
df_local = df_properati['place_with_parent_names'].apply(lambda x: pd.Series(x.split('|')))

In [41]:
df_local.head()

  0          1                             2              3       4    5    6
0    argentina               capital federal      mataderos          NaN  NaN
1    argentina        bs.as. g.b.a. zona sur       la plata          NaN  NaN
2    argentina               capital federal      mataderos          NaN  NaN
3    argentina               capital federal        liniers          NaN  NaN
4    argentina  buenos aires costa atlántica  mar del plata  centro       NaN

In [42]:
df_local= df_local.drop([0], axis=1)

In [43]:
longitud = lambda x:pd.Series(len(x)>3)

In [58]:
#Comparamos como se ve el data set con valores no nulos en la fila 5 y fila 6
#df_local[df_local[4].notna()& (df_local[4]!='')]

#df_local[df_local[5].notna()]
#df_local[df_local[6].notna()]
# Nos quedamos con 3  columnas; 2|3|4

In [45]:
#Generamos el dataset con los 3 columnas y concatenamos con lat y lon
df_ubicacion = pd.concat([df_local[[2,3,4]],df_properati[['lat', 'lon']]], axis=1)

In [50]:
df_ubicacion.head

                              2              3       4        lat        lon
0               capital federal      mataderos         -34.661824 -58.508839
1        bs.as. g.b.a. zona sur       la plata         -34.903883 -57.964330
2               capital federal      mataderos         -34.652262 -58.522982
3               capital federal        liniers         -34.647797 -58.516424
4  buenos aires costa atlántica  mar del plata  centro -38.002626 -57.549447

In [52]:
df_properati.columns

Index(['property_type', 'place_name', 'place_with_parent_names', 'state_name',
       'geonames_id', 'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [63]:
df_cordoba = df_properati[df_properati['place_with_parent_names']=='|argentina|córdoba|'][['lat', 'lon']].head()

In [64]:
df_cordoba

            lat        lon
1011 -31.399524 -64.179759
1023 -31.401767 -64.164597
1521 -31.411331 -64.164196
3762 -31.392317 -64.462105
3763 -31.421442 -64.497650

In [65]:
df_cordoba['API_response'] = df_cordoba.apply(consumir_api,axis=1)
df_cordoba['API_response']

1011    {'parametros': {'lat': -31.3995242, 'lon': -64...
1023    {'parametros': {'lat': -31.4017668, 'lon': -64...
1521    {'parametros': {'lat': -31.411331, 'lon': -64....
3762    {'parametros': {'lat': -31.39231682, 'lon': -6...
3763    {'parametros': {'lat': -31.42144203, 'lon': -6...
Name: API_response, dtype: object

In [66]:
df_cordoba

            lat        lon                                       API_response
1011 -31.399524 -64.179759  {'parametros': {'lat': -31.3995242, 'lon': -64...
1023 -31.401767 -64.164597  {'parametros': {'lat': -31.4017668, 'lon': -64...
1521 -31.411331 -64.164196  {'parametros': {'lat': -31.411331, 'lon': -64....
3762 -31.392317 -64.462105  {'parametros': {'lat': -31.39231682, 'lon': -6...
3763 -31.421442 -64.497650  {'parametros': {'lat': -31.42144203, 'lon': -6...

In [68]:
new_df = json_normalize(df_cordoba['API_response'])
new_df[['ubicacion.departamento.nombre','ubicacion.municipio.nombre','ubicacion.provincia.nombre']]

,ubicacion.departamento.nombre,ubicacion.municipio.nombre,ubicacion.provincia.nombre
0,Capital,Córdoba,Córdoba
1,Capital,Córdoba,Córdoba
2,Capital,Córdoba,Córdoba
3,Punilla,Villa Carlos Paz,CÃ³rdoba
4,Punilla,Villa Carlos Paz,CÃ³rdoba